# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('wfpvam_foodprices.csv')
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_19716\2872717829.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('wfpvam_foodprices.csv')

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,AFN,15,Retail,5,KG,5,2014,50.0,NaN

In [3]:
df.isnull().sum()

adm0_id                     0
adm0_name                   0
adm1_id                     0
adm1_name              463143
mkt_id                      0
mkt_name                    0
cm_id                       0
cm_name                     0
cur_name                    0
pt_id                       0
pt_name                     0
um_id                       0
um_name                     0
mp_month                    0
mp_year                     0
mp_price                    0
mp_commoditysource    1048575
dtype: int64

In [4]:
df.rename(columns={'adm0_id': 'country_id', 'adm0_name':'country', 'adm1_id':'region_id', 'adm1_name':'region', 'mkt_id':'market_id', 'mkt_name':'market_name', 'cm_id': 'comodity_id', 'cm_name':'comodity'}, inplace=True)

In [9]:
df.pop('mp_commoditysource')

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
1048570   NaN
1048571   NaN
1048572   NaN
1048573   NaN
1048574   NaN
Name: mp_commoditysource, Length: 1048575, dtype: float64

In [19]:
print('summary statistic for product price\n')
df['mp_price'].describe()

summary statistic for product price

count    1.048575e+06
mean     6.282787e+03
std      6.414777e+04
min      0.000000e+00
25%      4.090900e+01
50%      2.795000e+02
75%      2.000000e+03
max      2.177778e+07
Name: mp_price, dtype: float64

In [29]:
print(f'number of unique comodities is : {df['comodity'].nunique()}')
df['comodity'].value_counts()

number of unique comodities is : 609

comodity
Sugar - Retail                        29160
Wheat flour - Retail                  25419
Rice - Retail                         24873
Oil (palm) - Retail                   20244
Maize - Retail                        19219
                                      ...
Butter (goat milk) - Retail               2
Beans (haricot, white) - Wholesale        2
Maize flour (imported) - Retail           2
Kocho - Retail                            1
Beans (haricot, red) - Wholesale          1
Name: count, Length: 609, dtype: int64

sugar-retail is the most frequent in the dataset.

In [27]:
print('marked price grouped by country')
df.groupby('country')['mp_price'].mean().sort_values(ascending = False)

marked price grouped by country

country
Iran  (Islamic Republic of)         81633.712500
Colombia                            51240.036125
Indonesia                           34460.108029
Lao People's Democratic Republic    24048.017546
Afghanistan                         23177.212745
Cameroon                            12194.504486
Guinea                              10879.303370
Cambodia                             7975.689359
Chad                                 6402.038909
Lebanon                              5798.964187
Iraq                                 3262.346614
Burkina Faso                         2844.646005
Madagascar                           2549.656122
Burundi                              2516.897501
Democratic Republic of the Congo     2497.709444
Eritrea                              2272.000000
Congo                                1461.473620
Liberia                              1273.684710
Ethiopia                             1219.600790
Kenya                                1191.952042
Costa Rica                           1115.828431
Angola                               1038.963442
Central African Republic              980.444644
Dominican Republic                    978.335517
Guinea-Bissau                         877.138516
Armenia                               818.423680
Djibouti                              802.733808
Cote d'Ivoire                         760.972466
Honduras                              693.003774
Gabon                                 691.063492
Japan                                 637.522595
Benin                                 612.744978
Kazakhstan                            379.607429
Bangladesh                            324.494411
Malawi                                277.267367
Algeria                               164.961907
Haiti                                 149.618548
Ghana                                 106.865747
Bassas da India                        93.161600
Kyrgyzstan                             92.274252
Cape Verde                             87.230546
Bolivia                                87.135523
Guatemala                              84.771564
Gambia                                 56.864125
Bhutan                                 51.356949
El Salvador                            35.961699
Lesotho                                33.346925
Argentina                              25.776991
Georgia                                25.600625
Egypt                                  19.291319
Libya                                   5.647125
China                                   3.336446
Ecuador                                 2.665872
Jordan                                  2.120699
Belarus                                 1.022541
Azerbaijan                              0.527840
Name: mp_price, dtype: float64